---
import ContactCTA from '../components/ContactCTA.astro';
import EducationList from '../components/EducationList.astro';
import Hero from '../components/Hero.astro';
import Timeline from '../components/Timeline.astro';
import { timelineContent } from '../content/about/timelineContent';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="About | Aridane Martín"
  description="About Aridane Martín Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/gitCourse.webp"
          alt="Aridane Martín at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            My name is Aridane Martín, I am a web developer based in Gran
            Canaria, Spain. Currently, I combine the design and development of
            all kinds of websites and applications with my work as a <strong
              >Tech Lead / Senior FE Developer</strong
            > at
            <strong>
              <a href="https://www.openbank.es/" target="_blank">
                Openbank | Grupo Santander
              </a>
            </strong>, where I lead the frontend integration of key systems like
            Pandora, a cash register software for the Polish market. I invite
            you to continue browsing my website where you will find some of my
            latest work.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <EducationList />
      </section>
      <!-- <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>officia unde omnis</p>
        </div>
      </section> -->
    </main>
    <div class="wrapper">
      <h2 class="section-title">Milestones</h2>
      <Timeline content={timelineContent} />
    </div>
    ±
    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
    padding-bottom: 1rem;
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .section-title {
      padding: 0;
    }

    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
