---
import { getCollection } from "astro:content";
import BlogItem from "./BlogItem.astro";

const articles = (await getCollection("blog"))
  .filter((article) => article.data.isActive !== false)
  .sort((a, b) => {
    const dateA = a.data.lastUpdateDate || a.data.publishDate;
    const dateB = b.data.lastUpdateDate || b.data.publishDate;
    return dateB.valueOf() - dateA.valueOf();
  });
---

<ul class="blog-list">
  {
    articles.map((article) => (
      <li>
        <BlogItem article={article} />
      </li>
    ))
  }
</ul>

<style>
  .blog-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  @media (min-width: 50em) {
    .blog-list {
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
      gap: 3rem;
    }
  }

  @media (width < 768px) {
    .blog-list {
      grid-template-columns: 1fr;
      gap: 1.5rem;
    }
  }
</style>
