---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}><slot /></a>

<style>
	a {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: left;
		gap: 0.8em;
		color: var(--accent-dark);
		text-decoration: none;
		font-weight: 600;
		line-height: 1.1;
		white-space: nowrap;
		background: linear-gradient(to right, #ca7879, var(--accent-regular), var(--accent-dark), #ca7879);
		background-size: 200% auto;
		background-position: 0% center;
		-webkit-background-clip: text;
		background-clip: text;
		-webkit-text-fill-color: transparent;
		transition: background-position 0.4s ease;
	}

	:global(.theme-dark) a {
		background-position: 100% center;
	}

	:global(.theme-dark) a:hover,
	:global(.theme-dark) a:focus-visible {
		background-position: 0% center;
	}

	@media (min-width: 20em) {
		a {
			font-size: var(--text-lg);
		}
	}

	a:hover,
	a:focus-visible {
		background-position: 100% center;
	}

	a:focus-visible {
		outline: 2px solid var(--accent-regular);
		outline-offset: 0.2em;
		border-radius: 0.2em;
	}

	@media (min-width: 50em) {
		a {
			font-size: var(--text-xl);
		}
	}
</style>
