---
import { HeroVariant, type HeroVariantType } from "./Hero.constants";

interface Props {
  title: string;
  titleHighlight?: string;
  subtitle?: string;
  tagline?: string;
  align?: "start" | "center";
  variant?: HeroVariantType;
}

const { align = "center", tagline, title, titleHighlight, subtitle, variant = HeroVariant.SECTION } = Astro.props;
---

<div class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    <div class="title-group">
      <h1 class:list={["title", variant]}>
        {variant === HeroVariant.MAIN && titleHighlight
          ? <><span class="title-sentence">{title} </span><span class="title-name">{titleHighlight}</span></>
          : title
        }
      </h1>
      {subtitle && <h2 class="subtitle">{subtitle}</h2>}
    </div>
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .title {
    max-width: 21ch;
    margin-inline: auto;
    font-size: var(--text-2xl);
    text-align: center;
  }

  .title.main .title-sentence {
    background: var(--color-main-title-sentence);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title.main .title-name {
    background: var(--color-main-title-name);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .title.section {
    background: var(--color-section-title);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    max-width: 35ch;
    margin-inline: auto;
    font-size: var(--text-lg);
    font-weight: 400;
    color: var(--gray-300);
    font-family: var(--font-body);
    text-align: center;
  }

  .tagline {
    max-width: 35ch;
    margin-inline: auto;
    text-wrap-style: pretty;
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .title {
      font-size: var(--text-5xl);
    }

    .subtitle {
      font-size: var(--text-xl);
    }
  }
</style>
